/* Page styles */

.hidden {
    display: none;
}

/* INTEREST FORM */
#form-container {
    margin: 5%;
}
#interest-form {
    display: flex;
    flex-direction: column;
}

.warning {
    background-color: rgb(245, 207, 207);
}

/* INTERESTS DISPLAY */
.interest-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid lightgrey;
    margin: 5%;
    padding-bottom: 25px;
}

.interest-edit-btn {
    margin: 20px;
}